h1, h2, h3, h4, h5, h6, p, th, td, label, form {
    font-family: 'Lato', sans-serif;
    color: rgb(67, 67, 79);
}
a {
    font-family: 'Lato', sans-serif;
    color: rgb(77, 95, 128);
    text-decoration: none;
}
a:hover {
    color: rgb(127, 154, 204);
}
#nav-item {
    color: white;
}
#site-title {
    margin-bottom: 0px;
}
#form-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    border-bottom: 1px solid;
    padding: 40px;
}
#submit {
    background-color: rgb(150, 150, 150);
    border-radius: 0;
    border: 0;
}
.flex-wrapper {
    display: flex;
}
#game-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}
.game-attr-cell {
    margin: 10px;
}
#winner-dropdown {
    width: 100%;
}
#points-input {
    width: 100%;
}
.form-inline label {
    justify-content: left;
}
.form-check {
    margin-top: 10px;
}

/* Game table */
td {
    vertical-align: middle;
}
.button-cell {
    text-align: center;
    padding: 0.25rem;
    width: 5%;
}
.checkbox-cell {
    width: 10%
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48,
}