h1, h2, h3, h4, h5, p, th, td, label {
    font-family: 'Lato', sans-serif;
    color: rgb(67, 67, 79);
}
#nav-item {
    color: white;
}
#site-title {
    margin-bottom: 0px;
}
a.nav-link, a.winner-link {
    color: rgb(77, 95, 128)
}
a.nav-link:hover, a.winner-link:hover {
    color: rgb(127, 154, 204);
}
#content-container {
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
    border: white;
}
#form-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    border-bottom: 1px solid;
    padding: 40px;
}
#submit {
    background-color: rgb(150, 150, 150);
    border-radius: 0;
    border: 0;
}
.flex-wrapper {
    display: flex;
}
#game-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}
.game-attr-cell {
    margin: 10px;
}
#winner-dropdown {
    width: 100%;
}
#points-input {
    width: 100%;
}
.form-inline label {
    justify-content: left;
}
.form-check {
    margin-top: 10px;
}

/* Game table */
#game-table-container {
    margin-top: 2rem;
}
td {
    vertical-align: middle;
}
.button-cell {
    text-align: center;
    padding: 0.25rem;
    width: 5%;
}
.checkbox-cell {
    width: 10%
}