<!--Match detail page that links to each of the games-->

{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

  <div class="card" id="edit-game-form">
    <div class="card-body">
      <h5 class="card-title mb-3">Edit Game</h5>
      
      <form class="row g-3">
        <div class="col-md-6">
          <label class="form-label" for="winner-dropdown">Winner</label>
          <select class="form-select" id="winner-dropdown" name="winner-dropdown"></select>
        </div>
        <div class="col col-xl-3">
          <label class="form-label" for="points-input">Points</label>
          <input type="number" class="form-control" id="points-input" name="points-input">
        </div>
        <div class="col-md-12 d-flex flex-row flex-wrap align-items-center">
          <div class="form-check me-4">
            <label class="form-check-label" for="gin-input">Gin</label>
            <input type="checkbox" class="form-check-input" id="gin-input" name="gin-input">
          </div>
          <div class="form-check me-4">
            <label class="form-check-label" for="undercut-input">Undercut</label>
            <input type="checkbox" class="form-check-input" id="undercut-input" name="undercut-input">
          </div>
          <div>
            <button type="submit" id="new-game-submit" class="btn btn-small btn-outline-primary submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static './frontend/js/utils.js' %}" type="module"></script>
  <script src="{% static './frontend/js/endpoints.js' %}" type="module"></script>
  <script src="{% static './frontend/js/game-edit.js' %}" type="module"></script>

{% endblock %}