<!--Match detail page that links to each of the games-->
<!DOCTYPE html>
<html>

<head>
    <title>Match</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="container">
        <div id="match-container">
            <div id="game-wrapper">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function listGames() {
            
            const re = (?<=match\/)\d+''
            const matchNum = re.exec(document.url);
            const matchURL = `http://${document.domain}:8000/api/match/${match_num}`;
            
            let wrapper = document.getElementById('game-wrapper');
            
        }
    </script>

</body>

</html>