<!--Match detail page that links to each of the games-->

{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

  <div class="card" id="new-game-form">
    <div class="card-body">
      <h5 class="card-title">New Game</h5>
      
      <form class="row g-3">
        <div class="col-md-8">
          <label class="form-label" for="winner-dropdown">Winner</label>
          <select class="form-select" id="winner-dropdown" name="winner-dropdown"></select>
        </div>
        <div class="col-md-4">
          <label class="form-label" for="points-input">Points</label>
          <input type="number" class="form-control" id="points-input" name="points-input">
        </div>
        <div class="col-md-12 d-flex flex-row flex-wrap">
          <div class="form-check me-4">
            <label class="form-check-label" for="gin-input">Gin</label>
            <input type="checkbox" class="form-check-input" id="gin-input" name="gin-input">
          </div>
          <div class="form-check me-4">
            <label class="form-check-label" for="undercut-input">Undercut</label>
            <input type="checkbox" class="form-check-input" id="undercut-input" name="undercut-input">
          </div>
          <div class="mt-3 mt-md-0">
            <button type="submit" id="new-game-submit" class="btn btn-small btn-outline-primary submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--List of games-->
  <div class="card" id="game-table-container">
    <div class="card-body">
      <h5 class="card-title">Past Games</h5>
      <div class="table-responsive">
        <table class="table" id="game-table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Winner</th>
              <th scope="col">Points</th>
              <th scope="col" class="button-col">Gin</th>
              <th scope="col">Undercut</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="game-table-body"></tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="{% static './frontend/js/match.js' %}" type="module"></script>

{% endblock %}