<!-- Page showing current and past matches -->

{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

  <!--New Match-->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title mb-3">New Match</h5>
      <form class="row g-3" id="new-match-form">
        <div class="col-md-6">
          <label class="form-label" for="opponent-dropdown">Opponent</label>
          <select class="form-select" id="opponent-dropdown" name="opponent-dropdown"></select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="target-score-input">Target Score</label>
          <input type="number" class="form-control" id="target-score-input" name="target-score-input">
        </div>
        <div class="col-md-3 d-flex align-items-end">
          <button type="submit" id="new-match-submit" class="btn btn-small btn-outline-primary submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <!--Current Matches-->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Current Matches</h5>
      <div class="card p-3">
        <div class="table-responsive">
          <table class="table" id="current-matches-table">
            <thead>
              <tr>
                <th scope="col">Date Started</th>
                <th scope="col">Opponent</th>
                <th scope="col">Current Score</th>
                <th scope="col">Target Score</th>
                <th scope="col" id="view-current-match-header"></th>
              </tr>
            </thead>
            <tbody id="current-matches-body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--Past Matches-->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Past Matches</h5>
      <div class="card p-3">
        <div class="table-responsive">
          <table class="table" id="past-matches-table">
            <thead>
              <tr>
                <th scope="col">Date Range</th>
                <th scope="col">Opponent</th>
                <th scope="col">Outcome</th>
                <th scope="col">Score</th>
                <th scope="col" id="view-past-match-header"></th>
              </tr>
            </thead>
            <tbody id="past-matches-body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static './frontend/js/match-list.js' %}" type="module"></script>
  
{% endblock %}