<!-- Page showing current and past matches -->

{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Current Matches</h5>
      <div class="card p-3">
        <div class="table-responsive">
          <table class="table" id="current-matches-table">
            <thead>
              <tr>
                <th scope="col">Date Started</th>
                <th scope="col">Opponent</th>
                <th scope="col">Current Score</th>
                <th scope="col" id="view-current-match-header"></th>
              </tr>
            </thead>
            <tbody id="current-matches-body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Past Matches</h5>
      <div class="card p-3">
        <div class="table-responsive">
          <table class="table" id="past-matches-table">
            <thead>
              <tr>
                <th scope="col">Date Range</th>
                <th scope="col">Opponent</th>
                <th scope="col">Outcome</th>
                <th scope="col">Score</th>
                <th scope="col" id="view-past-match-header"></th>
              </tr>
            </thead>
            <tbody id="past-matches-body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}