{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
  <div class="card" id="player-card">
    <div class="card-body">
      <h5 class="card-title mb-3" id="player-username"></h5>

      <div class="row d-flex align-items-start">
        <div class="col-12 col-sm-6 col-lg-3 ps-4 mb-3 mb-lg-0">
          <h6>Name</h6>
          <h6 class="mt-1" id="player-name"></h6>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 ps-4 mb-3 mb-lg-0">
          <h6>Email Address</h6>
          <h6 class="mt-1"><a href="#" id="player-email"></a></h6>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 ps-4 mb-3 mb-lg-0">
          <h6>Date Joined</h6>
          <h6 class="mt-1" id="player-date-joined"></h6>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 ps-4 mb-3 mb-lg-0">
          <h6>Last Login</h6>
          <h6 class="mt-1" id="player-last-login"></h6>
        </div>
      </div>
      
      <div class="d-grid col-6 col-md-3 col-lg-2 mx-auto mt-4">
        <button type="button" class="btn btn-outline-success">Edit</button>
      </div>

    </div>
  </div>

  <script src="{% static './frontend/js/endpoints.js' %}" type="module"></script>
  <script src="{% static './frontend/js/utils.js' %}" type="module"></script>
  <script src="{% static './frontend/js/player.js' %}" type="module"></script>

{% endblock %}