{% extends "frontend/base.html" %}
{% block content %}
  <div class="card top-position-card" id="login-form">
    <div class="card-body">
      <h5 class="card-title">Log In</h5>

      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label for"password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
            
  </div>
{% endblock %}